<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.zr"/>

    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 将自定义的 converter [ 数据转换器 ] 放入ConversionServiceFactoryBean 中 -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters" >
           <set>
               <bean class="com.zr.company.converters.StringToDateConverters"/>
           </set>
        </property>
    </bean>

    <!-- 配置 文件解析器对象  -->
    <bean id="multipartResolver"  class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="1048576"/>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService"/>

    <!-- 为了使用自定义拦截器 配置Interceptor -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>  <!-- 代表拦截所有controller -->
                <!--<mvc:exclude-mapping path=""/>-->
            <bean class="com.zr.company.interceptor.MyInterceptor"/>
        </mvc:interceptor>
        <!-- 配置第二个拦截器，多个以此类推 -->
<!--
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path=""/>
            <bean class="com.zr.company.interceptor.MyInterceptor2"/>
        </mvc:interceptor>
-->
    </mvc:interceptors>
</beans>